body {
	margin: 0;
	font-family: Ubuntu;

}

#logo {
	height: 130px;
	width: 150px;
	
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;		
	height: 30vh;
	flex-direction: column;

}
