body {
	margin: 0;
	font-family: Ubuntu;

}

#logo {
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;		
	height: 10vh;
	flex-direction: column;

}
